@media (max-width: 900px) {
    .login {
      padding: 0;
    }
  }

@media (max-width: 720px){

  .header {
    flex-direction: column;
    
  }

  .title {
    text-align: center;
    
  }

  article {
    text-align: center;
    margin-top: 10px;
  }

  .btn {
    margin-top: 10px;
  }
 
}



  @media (max-width: 410px) {

    .header {
      flex-direction: column;
      font-size: 12px; 
      margin: 2px, 0;
      // background-color: crimson;
    
      .title {
        text-align: center;
      }
    
      article {
        text-align: center;
        margin-top: 10px;
    
        a {
          font-size: 14px; 
          margin: 5px, 0;
        }
      }
    
      .btn {
        margin-top: 10px;
        font-size: 14px; 
      }
  }
}

